<div>


   

      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" style="margin-top: 50px;" class="w-50 mx-auto ">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" formControlName="emailId" name="emailId" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <!-- <div id="emailHelp" class="form-text" style="color: green;">We'll never share your email with anyone else. -->
          <!-- </div> -->
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" formControlName="password" name="password" class="form-control"
            id="exampleInputPassword1">
        </div>
        <div class="form-check">
          <input class="form-check-input" value="teacher" formControlName="role" name="role" type="radio"
            id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Teachers login
          </label><br>
          <input class="form-check-input" type="radio" value="student" formControlName="role" name="role"
            id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Student login
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    




   
</div>