<div>
<header style="background-color: white; ">
  <div style="display: flex;justify-content: space-between; padding: 8px;">
    <div>
      <img src="https://sulcdn.azureedge.net/biz-live/img/328832-66261-28022017124223.jpeg"
        style="width: 400px; height:auto" alt="Dps logo">
    </div>
    <div>
      <h5 style=" font-size: 20px; padding-top: 5%; ">Admission Helpline Number</h5>
      <h3 style="font-size: 24;">+91-9901385898</h3>
    </div>
  </div>
</header>
<!-- </div> -->


<p id="man">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span> <a routerLink="vet" style="color: white;">VET </a> </span>
    <section>
      <!-- <div class="example-label">Stroked</div> -->
      <div class="example-button-row">
        <!-- <button mat-stroked-button>Basic</button> -->
        <button mat-stroked-button color="white" routerLink="register">register</button>
        <button mat-stroked-button color="white" routerLink="login">login</button>
        <button mat-stroked-button color="white" routerLink="teacher">teacher</button>
        <!-- <button mat-stroked-button disabled routerLink="student">student</button> -->
        <button mat-stroked-button color="white" routerLink="student">student</button>
        <a mat-stroked-button href="https://vetfgc.edu.in/vet-institutions" target="_blank">AboutUs</a>
      </div>
    </section>
    <span class="example-spacer"></span>~
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
<!-- <app-register></app-register> -->